<h1><%= @team.nickname %></h1>
<%= @team.city %>
<%= @team.logo %>
Est: <%= @team.created_at.year %>

<table>
	<thead>
		<tr>
			<th>Roster</th>
			<th>Batting</th>
			<th>Pitching</th>
		</tr>
		<tr>
			<th>Player</th>
			<th>Positions</th>
			<th>Bat/Throws</th>
			<th>AVG</th>
			<th>HR</th>
			<th>RBI</th>
			<th>SB</th>
			<th>ERA</th>
			<th>W</th>
			<th>L</th>
			<th>SO</th>
		</tr>
	</thead>
	<tbody>


	</tbody>
</table>
