<% @position_players.each do |pp| %>
	<tr class="player">
		<td><%= link_to(pp.name, player_path(pp.player_id)) %></td>
		<td><%= pp.pos[1...-1] %></td>
		<td><%= pp.bats %></td>
		<td><%= pp.throws %></td>
	</tr>
<% end %>