<tr class="player">
	<td><%= @player.fullname %></td>
	<td><%= @player.position %></td>
	<td><%= @player.bats %>/<%= @player.throws %></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>