* {
	padding: 0;
	margin: 0;
}
.clear:before,
.clear:after {
    content: " ";
    display: table;
}
.clear:after {
    clear: both;
}
body {
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-family: 'Squada One', cursive;
	color: #F4DDBE;
	font-size: 80px;
	/*text-shadow: -5px 1px #89B151;*/
	margin-left: 30px;
}
h2 {

}
.left {
	float: left;
}
.right {
	float: right;
}
.center {
	text-align: center;
}
.banner {
	background-color: #313131;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}
.logo {
	margin-left: 40px;
}
nav {
	margin: 30px 20px 0 0;
}
nav a {
	color: #201A02;
	background-color: #89B151;
	text-decoration: none;
	padding: 5px 15px;
	border-radius: 4px;
	border: 1px solid #89B151;
	transition: all 1s ease;
}
nav a:hover {
	color: #fff;
	background-color: #89B151;
	/*border: 1px solid #a04040;*/
}

.win {
	color: #0f0;
	font-weight: bold;
}
.loss {
	color: #f00;
}
.team_info {
	color: #fff;
	margin: 30px 0 0 20px;
}
.content {
	margin: 20px auto;
	width: 90%;
}
.content_button {
	display: inline-block;
	color: #313131;
	text-decoration: none;
	background-color: #89B151;
	margin: 20px 0 0 0;
	border-radius: 4px;
	padding: 7px 20px;
	transition: all 1s ease;
}
.content_button:hover {
	color: #fff;
	cursor: pointer;
}
.sections {
	background-color: #fff;
	color: #313131;
}
.stats {
	border-spacing: 0px;
	margin: 20px 60px 0 0;
	width: 100%;
}
.stats thead {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #715a38), color-stop(1, #3d3024) );
	color: #fff;
	border-radius: 4px;
}
.stats th {
	padding: 3px 12px;
}
.add_batter_stats, .add_pitcher_stats {
	border-spacing: 0px;
	margin: 20px 60px 0 0;
	padding: 5px 10px 15px 10px;
	width: 101%;
	border: 1px solid #313131;
	border-radius: 4px;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F4DDBE), color-stop(1, #ceb99f) );
}
.add_batter_stats thead, .add_pitcher_stats thead {
	/*background-color: #eee;*/
	color: #313131;
	border-radius: 4px;
}
.add_batter_stats th, .add_pitcher_stats th {
	padding: 3px 12px;
}
.players tr:nth-child(odd), .coaches tr:nth-child(odd), .added_pitchers tr:nth-child(odd), .added_batters tr:nth-child(odd),.games tr:nth-child(odd) {
	background-color: #eee;
}
.players tr:nth-child(odd):hover, .coaches tr:nth-child(odd):hover, .added_pitchers tr:nth-child(odd):hover, .added_batters tr:nth-child(odd):hover, .games tr:nth-child(odd):hover {
	background-color: #ccc;
}
.players td, .coaches td, .games td, .added_pitcher td, .added_batters td {
	text-align: center;
}
.player td a, .coach td a, .games td a, .add_player td a, .added_batter td a {
	color: #715a38;
	text-decoration: none;
}
.player:hover, .coach:hover, .game:hover, .added_pitcher:hover, .added_batter:hover {
	background-color: #ccc;
}
.pitcher_form, .batter_form {
	text-align: center;
}
.pitcher_form input[type=text], .batter_form input[type=text] {
	width: 25px;
}
.edit {
	background-color: #fff;
	padding-left: 10px;
}
footer {
	color: #fff;
	padding: 10px 0;
	background-color: #313131;
	margin: 50px 0 0 0;
	text-align: center;
}