* {
	padding: 0;
	margin: 0;
}
.clear:before,
.clear:after {
    content: " ";
    display: table;
}
.clear:after {
    clear: both;
}
body {
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-family: 'Squada One', cursive;
	color: #fff;
	font-size: 80px;
	text-shadow: -2px 1px #a04040;
	margin-left: 30px;
}
h2 {

}
.left {
	float: left;
}
.right {
	float: right;
}
.banner {
	background-color: #313131;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}
.logo {
	margin-left: 40px;
}
nav {
	margin: 30px 20px 0 0;
}
nav a {
	color: #313131;
	background-color: #fff;
	text-decoration: none;
	padding: 3px 10px;
	border-radius: 4px;
	border: 1px solid #fff;
	transition: all 1s ease;
}
nav a:hover {
	color: #fff;
	background-color: #a04040;
	/*border: 1px solid #a04040;*/
}
.team_info {
	color: #fff;
	margin: 30px 0 0 20px;
}
.content {
	margin: 20px auto;
	width: 90%;
}
.sections {
	background-color: #fff;
	color: #313131;
}
.stats {
	border-spacing: 0px;
	margin-top: 20px;
}
.stats thead {
	background-color: #a04040;
	color: #fff;
	border-radius: 4px;
}
.stats th {
	padding: 3px 12px;
}
.players tr:nth-child(odd), .coaches tr:nth-child(odd), .set_pitchers tr:nth-child(odd) {
	background-color: #eee;
}
.players tr:nth-child(odd):hover, .coaches tr:nth-child(odd):hover, .set_pitchers tr:nth-child(odd):hover {
	background-color: #ccc;
}
.players td, .coaches td, .games td, .set_pitcher td {
	text-align: center;
}
.player td a, .coach td a, .games td a, .add_player td a {
	color: #a04040;
	text-decoration: none;
}
.player:hover, .coach:hover, .games:hover, .set_pitchers:hover {
	background-color: #ccc;
}
.pitcher_form {
	text-align: center;
}
.pitcher_form input[type=text] {
	width: 25px;
}
footer {
	color: #313131;
}