#logins {
	background-color: #313131;
	color: #fff;
}
#logins a {
	color: #fff;
	text-decoration: underline;
	transition: all 1s ease;
}
#logins a:hover {
	color: #a04040;
}
#logins .btma_logo {
	text-align: center;
	margin: 0;
}
#logins .btma_logo p {
	margin: -30px 0 0 0;
}
#logins h1 {
	font-family: 'Bangers', cursive;
	font-size: 260px;
	text-align: center;
	margin: 0;
}
#logins .login_container {
	text-align: center;
	margin: 30px auto 0 auto;
	width: 550px;
}
#logins .login, #logins .new_team {
	text-align: center;
}
#logins .new_team {
	margin-top: 50px;
}
#logins input[type=text] {
	width: 350px;
	font-size: 30px;
	-webkit-appearance: none;
	color: #313131;
	padding: 2px 0px;
	text-align: center;
	border-radius: 4px;
}
#logins input[type=password] {
	width: 350px;
	font-size: 30px;
	-webkit-appearance: none;
	color: #313131;
	padding: 2px 0px;
	text-align: center;
	border-radius: 4px;
}
#logins input[type=submit] {
	-webkit-appearance: none;	
	width: 350px;
	font-size: 24px;
	background-color: #89B151;
	border: 1px solid #89B151;
	border-radius: 4px;
	transition: all 1s ease;
	padding: 5px 10px;
}
#logins input[type=submit]:hover {
	color: #fff;
	cursor: pointer;
	border: 1px solid #fff;
}
#logins .text_field {
	margin-top: 20px;
}
#logins .submit {
	text-align: center;
	margin: 20px 0px;
}
#logins .new_team_link {
	cursor: pointer;
	width: 328px;
	font-size: 21px;
	font-weight: bold;
	background-color: #89B151;
	border: 1px solid #89B151;
	border-radius: 4px;
	transition: all 1s ease;
	padding: 5px 10px;
	color: #313131;
	margin: 5px auto 20px auto;
}
#logins .new_team_link:hover {
	color: #fff;
	cursor: pointer;
	border: 1px solid #fff;
}
#logins .new_team_link_head {
	margin-top: 20px;
}