#logins {
	background-color: #313131;
	color: #fff;
}
#logins a {
	color: #fff;
	text-decoration: underline;
	transition: all 1s ease;
}
#logins a:hover {
	color: #a04040;
}
#logins .btma_logo {
	text-align: center;
	margin: 0;
}
#logins .btma_logo p {
	margin: -30px 0 0 0;
}
#logins h1 {
	font-family: 'Bangers', cursive;
	font-size: 260px;
	text-align: center;
	margin: 0;
}
#logins .login_container {
	text-align: center;
	margin: 30px auto 0 auto;
	width: 550px;
}
#logins .login, #logins .new_team {
	text-align: center;
}
#logins .new_team {
	margin-top: 50px;
}
#logins input[type=text] {
	width: 350px;
	font-size: 30px;
	-webkit-appearance: none;
	color: #313131;
	padding: 2px 0px;
	text-align: center;
	border: 2px solid #F4DDBE;
	border-radius: 4px;
}
#logins input[type=password] {
	width: 350px;
	font-size: 30px;
	-webkit-appearance: none;
	color: #313131;
	padding: 2px 0px;
	text-align: center;
	border: 2px solid #F4DDBE;
	border-radius: 4px;
}
#logins input[type=checkbox] {
	margin-right: 20px;
}
#logins input[type=submit], #logins .new_team_link {
	-webkit-appearance: none;	
	width: 350px;
	font-size: 24px;
	background-color: #89B151;
	border: 1px solid #89B151;
	border-radius: 4px;
	transition: all 1s ease;
	padding: 5px 10px;
	color: #313131;
	margin: 0 auto;
}
#logins input[type=submit]:hover, #logins .new_team_link:hover {
	color: #fff;
	cursor: pointer;
	border: 1px solid #fff;
}
#logins .submit {
	text-align: center;
	margin: 20px 0px;
}
/*
#logins .new_team_link {
	background-color: #F4DDBE;
	border: 1px solid #F4DDBE;
}
*/
#logins .new_team_link_head {
	margin-top: 20px;
}
#logins fieldset, #games fieldset {
	margin: 0 auto;
	width: 400px;
	padding: 0px 10px 20px 10px;
	border-radius: 4px;
}
#logins legend {
	text-align: center;
}
#logins fieldset p, #logins .login_container p {
	margin-top: 20px;
}
#games fieldset {
	background-color: #F4DDBE;
	border: 1px solid #000;
}