#logins {
	background-color: #313131;
	color: #fff;
}
#logins a {
	color: #fff;
	text-decoration: underline;
	transition: all 1s ease;
}
#logins a:hover {
	color: #a04040;
}
#logins .btma_logo {
	text-align: center;
	margin: 0;
}
#logins .btma_logo p {
	margin: -20px 0 0 0;
}
#logins h1 {
	font-family: 'Bangers', cursive;
	font-size: 260px;
	text-align: center;
	margin: 0;
}
#logins .login_container {
	text-align: center;
	margin: 50px auto 0 auto;
	width: 550px;
}
#logins .login {
	text-align: center;
}
#logins input[type=text] {
	width: 350px;
	font-size: 30px;
	-webkit-appearance: none;
	color: #313131;
	padding: 2px 0px;
	text-align: center;
}
#logins input[type=password] {
	width: 350px;
	font-size: 30px;
	-webkit-appearance: none;
	color: #313131;
	padding: 2px 0px;
	text-align: center;
}
/*
#logins label {
	width: 134px;
	font-size: 30px;
	display: inline-block;
	text-align: right;
	margin-right: 35px;
}
*/
#logins input[type=submit] {
	-webkit-appearance: none;	
	width: 350px;
	font-size: 24px;
	background-color: #89B151;
	border: 1px solid #fff;
	border-radius: 4px;
	transition: all 1s ease;
	padding: 5px 10px;
}
#logins input[type=submit]:hover {
	color: #fff;
	cursor: pointer;
}
#logins .password {
	margin-top: 20px;
}
#logins .submit {
	text-align: center;
	margin: 20px 0px;
}