#teams .home {
	width: 46%;
	margin: 0 20px;
}
#teams .stats {
	margin: 0;
	padding: 0;
}
#teams h2 {
	margin-bottom: 20px;
}
#teams .new_player, #teams .new_coach {
	margin: 30px auto 0 auto;
	text-align: center;
	border: 1px solid #313131;
	padding: 20px;
	background-color: #F4DDBE;
	border-radius: 4px;
	width: 400px;
}
#teams .new_player p, #teams .new_coach p {
	margin-top: 10px;
}
#teams input[type=text], #games input[type=text] {
	width: 350px;
	font-size: 30px;
	-webkit-appearance: none;
	color: #313131;
	padding: 2px 0px;
	text-align: center;
	border: 2px solid #715a38;
	border-radius: 4px;
}
#teams input[type=password] {
	width: 350px;
	font-size: 30px;
	-webkit-appearance: none;
	color: #313131;
	padding: 2px 0px;
	text-align: center;
	border: 2px solid #715a38;
	border-radius: 4px;
}
#teams input[type=submit], #games input[type=submit] {
	-webkit-appearance: none;	
	width: 350px;
	font-size: 24px;
	background-color: #89B151;
	border: 1px solid #89B151;
	border-radius: 4px;
	transition: all 1s ease;
	padding: 5px 10px;
}
#teams input[type=submit]:hover, #games input[type=submit]:hover {
	color: #fff;
	cursor: pointer;
	border: 1px solid #fff;
}
#teams .submit, #games .submit {
	text-align: center;
	margin: 20px 0px;
}
